<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/portfolio.js"></script>
    <meta name="viewport" content="initial-scale=1">
    <title>Chadd's Portfolio</title>
  </head>
  <body class="about">
      <div class="full-div"><a name="about" id="about"></a>
        <div class="navigation container-fluid">
          <nav class="navbar navbar-default col-xs-12 navigation">
            <ul class="nav navbar-nav navbar-right nav-ul">
              <li class="one"><a href="#about" class="colour about-btn paddings" id="about">About Me</a></li>
              <li class="one"><a href="#work" class="colour work-btn paddings" id="work">Work</a></li>
              <li class="one"><a href="#contact" class="colour contact-btn paddings" id="contact">Contact Me</a></li>
            </ul>
          </nav>
        </div>
        <div class="teal container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-4 col-sm-3 fill"></div>
              <div class="col-xs-8 col-sm-9 chadd"><h1>Chadd Williams<h1></div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 abt-section">
              <div class="col-xs-4 col-sm-3 small-desc image"><img src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476661/me_nw69kv.jpg" alt="Picture of Chadd Williams" class="img-circle chadd-pic"></div>
              <div class="col-xs-8 col-sm-9 me small-desc my-desc">
                  <div class="description"><h4>Personal Portfolio</h4></div>
                  <br />
                  <div class="description">Self Taught Full Stack Web Developer, with practical experience creating web pages and
                    web applications using version control through git and github. Proficient in the following programming languages:
                    Ruby (Ruby on Rails), Javascript (React & jQuery), HTML, CSS (Bootstrap, Sass), SQL (Postgresql) and experience using AJAX.</br>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid work">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2"><a name="work" id="work"></a>
              </br></br>
              </div>
          </div>
        </div>
        <div class="container-fluid projects">
          <div class="row">
            <div class="col-xs-12 pics">
                <div class="pic col-sm-4" id="pomo">
                  <div class="text-center">
                    <p class="text-center app-title">Pomodoro Clock</p>
                  </div>
                  <a href="https://pomo-study-clock.herokuapp.com/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1486762292/Screen_Shot_2017-02-10_at_4.28.03_PM_m6gpca.png" alt="picture of Pomodoro Clock app"></a>
                </div>
                <div class="pic col-sm-4" id="twitch">
                  <div class="text-center">
                    <p class="text-center app-title">Twitch Watcher</p>
                  </div>
                  <a href="https://chaddd980.github.io/twitch/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1484920075/Screen_Shot_2017-01-20_at_8.47.00_AM_batfuf.png" alt="picture of kobe tribute site"></a>
                </div>
                <div class="pic col-sm-4" id="weather">
                  <div class="text-center">
                    <p class="text-center app-title">Weather App</p>
                  </div>
                  <a href="https://chaddd980.github.io/weather-app/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476637/weather_app_gzqanr.png" alt="picture of weather app"></a>
                </div>
                <div class="pic col-sm-4" id="toe">
                  <div class="text-center">
                    <p class="text-center app-title">Tic Tac Toe</p>
                  </div>
                  <a href="https://easy-tic-tac-toe.herokuapp.com/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1485445082/Screen_Shot_2017-01-26_at_10.28.12_AM_keif4m.png" alt="picture of tic tac toe app"></a>
                </div>
                <div class="pic col-sm-4" id="calculator">
                  <div class="text-center">
                    <p class="text-center app-title">Calculator</p>
                  </div>
                  <a href="https://fjord-calculator.herokuapp.com/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1486619225/Screen_Shot_2017-02-09_at_12.44.23_AM_vnsmvc.png" alt="calculator webapp"></a>
                </div>
                <div class="pic col-sm-4" id="quote">
                  <div class="text-center">
                    <p class="text-center app-title">Random Quote Generator</p>
                  </div>
                  <a href="http://codepen.io/chadd980/full/NbJvmZ/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476539/random_quote_xflvid.png" alt="picture of random quote app"></a>
                </div>
                <div class="pic col-sm-4" id="wiki">
                  <div class="text-center">
                    <p class="text-center app-title">Wikipedia Viewer</p>
                  </div>
                  <a href="https://codepen.io/chadd980/full/qREaqp/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483646307/Screen_Shot_2017-01-05_at_2.56.11_PM_mebcsv.png" alt="picture of wikipedia viewer site"></a>
                </div>
                <div class="pic col-sm-4" id="poke">
                  <div class="text-center">
                    <p class="text-center app-title">Pokemon Simon Game</p>
                  </div>
                  <a href="http://poke-simon.herokuapp.com/" class="image"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1487171424/Screen_Shot_2017-02-15_at_10.09.46_AM_b3xjjr.png" alt="pokemon simon game webapp"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-2">
            </br></br></br></br>
            <div class="text-center "><h2>Get In Touch!</h></div>
          </div>
        </div>
        <div class="center-block contact"><a name="contact" id="contact"></a>
          <div class="container-fluid"><a name="work"></a>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 text-center touch">
                If you would like to get in contact with me Please fill out the following form and i will reply to you as soon as possible
              </div>
                <div class="col-xs-8 col-xs-offset-2">
                  <form action="/email" method="post">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <input type="message" name="message" class="form-control" id="message">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <a href="https://twitter.com/ChaddJWilliams"class="btn btn-social-icon btn-twitter">
          <span class="foot fa fa-twitter fa-4x"></span>
        </a>
        <a href="https://github.com/chaddd980" class="btn btn-social-icon btn-github">
          <span class="foot fa fa-github fa-4x"></span>
        </a>
        <a href="https://ca.linkedin.com/in/chadd-williams-6a8214132" class="btn btn-social-icon btn-linkedin">
          <span class="foot fa fa-linkedin fa-4x"></span>
        </a>
      </footer>
    </body>
</html>

<!-- <div class="pic" id="meetup">
  <p class="text-center app-title">Meetup.com Clone App</p>
  <a href="https://github.com/chaddd980/meetups_in_space"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476476/meetups_in_space_hua1ih.png" alt="meetup webapp"></a>
</div> -->
