<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/portfolio.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body class="about">
      <div class="full-div"><a name="about" id="about"></a>
        <div class="container-fluid">
          <nav class="navbar navbar-default col-xs-8 col-xs-offset-2 navigation menu">
            <div class="navbar-header col-md-7">
              <div class="chadd paddings">Chadd Williams</div>
                <div class="portfolio paddings">Personal Portfolio</div>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="active main one"><a href="#about" class="colour about-btn paddings" id="about">About Me</a></li>
              <li class="one"><a href="#work" class="colour work-btn paddings" id="work">Work</a></li>
              <li class="one"><a href="#contact" class="colour contact-btn paddings" id="contact">Contact Me</a></li>
            </ul>
          </nav>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 abt-section">
              <div class="col-md-8 vcenter me my-desc">
                  <p class="text-center">Self Taught Full Stack Web Developer, with practical experience creating web pages and
                    web applications using version control through git and github. Proficient in the following programming languages:
                    Ruby (Ruby on Rails), Javascript (jQuery), HTML, CSS (Bootstrap), SQL (Postgresql) and experience using AJAX</br>
                      <a href="https://twitter.com/ChaddJWilliams"class="btn btn-social-icon btn-twitter">
                        <span class="fa fa-twitter fa-2x"></span>
                      </a>
                      <a href="https://github.com/chaddd980" class="btn btn-social-icon btn-github">
                        <span class="fa fa-github fa-2x"></span>
                      </a>
                      <a href="https://ca.linkedin.com/in/chadd-williams-6a8214132" class="btn btn-social-icon btn-linkedin">
                        <span class="fa fa-linkedin fa-2x"></span>
                      </a>
                  </p>
              </div>
              <div class="filler col-xs-12">
              </div>
              <img src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476661/me_nw69kv.jpg" alt="Picture of Chadd Williams" class="img-circle chadd-pic center-block">
            </div>
          </div>
        </div>
        <div class="container-fluid work">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
            </br></br></br></br><a name="work" id="work"></a>
              <div class="text-center colour"><h2>Projects</h></div>
              <div class="col-xs-2 text-right symbol">{}</div>
              <div class="col-xs-8 col-sm-8 bottom"></div>
              <div class="col-xs-2 symbol">{}</div>
              <div class="container-fluid">
                <div class="row text-center">
                  <div class="col-xs-8 col-xs-offset-2">
                  </div>
                </div>
              </div>
              </br></br></br></br>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="col-sm-7 large_pic_div">
                <div class="pic">
                  <a href="https://chaddd980.github.io/kobe-tribute/" class="image"><img class="large_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476586/kobe_tribute_wiqidm.png" alt="picture of kobe tribute site"></a>
                </div>
                <div class="pic">
                  <a href="https://chaddd980.github.io/weather-app/" class="image"><img class="large_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476637/weather_app_gzqanr.png" alt="picture of weather app"></a>
                </div>
              </div>
              <div class="col-sm-5 small_pic_div">
                <div class="pic">
                  <a href="http://codepen.io/chadd980/full/NbJvmZ/"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476539/random_quote_xflvid.png" alt="picture of random quote app"></a>
                </div>
                <div class="pic">
                  <a href="https://codepen.io/chadd980/full/qREaqp/"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483646307/Screen_Shot_2017-01-05_at_2.56.11_PM_mebcsv.png" alt="picture of wikipedia viewer site"></a>
                </div>
                <div class="pic">
                  <a href="https://github.com/chaddd980/meetups_in_space"><img class="small_pic img-rounded" src="http://res.cloudinary.com/dk5ge9sgn/image/upload/v1483476476/meetups_in_space_hua1ih.png" alt="meetup webapp"></a>
                </div>
              </div>
            </div>
              <div class="col-sm-8 col-sm-offset-2">
                </br></br></br></br>
                <div class="text-center colour"><h2>Contact Me</h></div>
                  <div class="col-xs-2 text-right symbol">{}</div>
                  <div class="col-xs-8 col-sm-8 bottom"></div>
                  <div class="col-xs-2 symbol">{}</div>
              </div>
          </div>
        </div>
        <div class="center-block contact"><a name="contact" id="contact"></a>
          <div class="container-fluid"><a name="work"></a>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4 text-center">If you would like to get in contact with me Please fill out the following form and i will reply to you as soon as possible
              </div>
                <div class="col-xs-8 col-xs-offset-2">
                  <form action="/email" method="post">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <input type="message" name="message" class="form-control" id="message">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
