.full-div {
  border: 1rem solid #ffff99;
  width: 100%;
  height: 100%;
}

.portfolio {
  font-size: 1.4rem;
}

.navigation {
  background-color: white;
  border-color: white;
  margin-top: 40px;
}

.navbar-header {
  background-color: white;
  color: #337AB7
}
.chadd {
  font-size: 2.4rem;
}

a {
  background-color: white !important;
}

.app-title {
  font-weight: bold;
  color: #337AB7;
}

.description {
  font-weight: bold;
  color: #337AB7;
  border: 1rem solid #ffff99;
  margin-bottom: 20px;
}


.small_pic {
  width: 100%;
  height: 263.4px;
  margin: 5px;
  margin-bottom: 20px;
}

.pic_div {
  margin: 0;
  padding: 5px;
}

.one:hover {
  border-bottom: 5px solid #ffff99
}

.chadd-pic {
  width: 200px;
  height: 200px;
}

.vcenter {
  height: 200px;
  display: flex;
  align-items: center;
}

.bottom {
  border-bottom: 5px solid #ffff99;
  height: 17px;
}

.symbol {
  font-style: italic;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 30px;
}

.colour {
  color: #006dcc !important;
  margin: 0px auto;
}

.g-nav {
  padding-bottom: 10px;
}

.one-scroll {
  margin: 0;
  padding: 0;
}

.f-nav {
  margin-top: 0;
}


@media screen and (max-width: 1024px) {
  .nav {
    text-align: center;
  }
  .chadd, .portfolio {
    text-align: center;
  }
  .me {
    display: grid;;
  }
}

@media screen and (max-width: 600px) {
  .filler {
    float: left;
    height: 20px;
  }

  .my-desc {
    display: inline-block;
    bottom: 0;
  }


  .chadd-pic {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .filler {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .f-nav{
    margin-left: 0;
    width: 100%;
  }
}

.pic {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  position: relative;
}

.large_pic:hover, .small_pic:hover {
  opacity: 0.5;
}

.paddings {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
